.sidebar {
    background-color: #F0F1F3;
    padding-left: 94px;
    height: 100vh;
  }
  
  .summary {
    margin-bottom: 40px;
  }
  .summary__title {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
  }
  
  .summary__subtitle {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #9b9faa;
    
    
  }
  
  .summary__list {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    width: 288px;
    color: #9b9faa;
  }
  
  .summary__listItem {
    display: flex;
    justify-content: space-between;
  
    
  }

  .summary__listItem:not(:last-child) {
    margin-bottom: 10px;
  }
  
  
  