.Date {
font-family: 'Verdana';
font-weight: 700;
font-size: 34px;
line-height: 41px;
}

.Calendar{
    display: flex;
    align-items: center;
    gap: 21px;
    margin-bottom: 60px;
}

.react-datepicker__day--selected{
    background-color: orange;
    border: none;
    border-radius: 50%;
  } 

